# Ignore virtual environment directories
new_env/

# Ignore IDE specific files (example for PyCharm/IntelliJ)
.idea/

# Ignore other files/directories
fine-tuned-model/
*.pyc
__pycache__/
Trancendence_Versions/InsideLLMS-Research/

# Ignore personal Data
training_data.jsonl
training_data_prepared.jsonl
diary.docx
cleaned_diary.txt
v1_cleaned_diary.txt
v3_cleaned_diary.txt


# Ignore specific files in a subdirectory - personal diaries
Trancendence_Versions/V3_DeepDiaryProcessing/full_training_data_original.jsonl
Trancendence_Versions/V3_DeepDiaryProcessing/full_translated_data.jsonl
Trancendence_Versions/V3_DeepDiaryProcessing/PromptResponseDataset_V1.json
Trancendence_Versions/Lamma3InitialTesting/diary_text.txt
Trancendence_Versions/Lamma3InitialTesting/preprocessed_diary_text.txt
Trancendence_Versions/Lamma3InitialTesting/tokenized_preprocessed_diary_text.json


