# Ignore virtual environment directories
new_env/

# Ignore IDE specific files (example for PyCharm/IntelliJ)
.idea/

# Ignore other files/directories
fine-tuned-model/
*.pyc
__pycache__/
Trancendence_V2/Research/

training_data.jsonl
training_data_prepared.jsonl
diary.docx
cleaned_diary.txt
# Ignore specific files in a subdirectory - personal diaries
Trancendence_V2/22_Aug_2024-V3/training_data_original.jsonl
Trancendence_V2/22_Aug_2024-V3/translated_data.jsonl
Trancendence_V2/22_Aug_2024-V3/PromptResponseDataset.json
Trancendence_V2/Lamma3InitialTesting/diary_text.txt
Trancendence_V2/Lamma3InitialTesting/preprocessed_diary_text.txt
Trancendence_V2/Lamma3InitialTesting/tokenized_preprocessed_diary_text.json


