# Ignore virtual environment directories
new_env/

# Ignore sensitive Data
Initial Data Preparing/Data

# Ignore big files
Research & Studies/InsideLLMS-Research
fine-tuned-model


# Ignore IDE specific files (example for PyCharm/IntelliJ)
.idea/

# Ignore other files/directories
*.pyc
__pycache__/
Trancendence_Versions/InsideLLMS-Research/

# Ignore personal Data
Data Preparation, Cleaning & Processing/Data
training_data.jsonl
training_data_prepared.jsonl
diary.docx
cleaned_diary.txt
v1_cleaned_diary.txt
Trancendence_Versions/Current Version_4/Initial Data Preparing/Data

# Ignore specific files in a subdirectory - personal diaries
Trancendence_Versions/Previous Versions/full_training_data_original.jsonl
Trancendence_Versions/Previous Versions/full_translated_data.jsonl
Trancendence_Versions/Previous Versions/PromptResponseDataset_V1.json
Trancendence_Versions/Lamma3InitialTesting/diary_text.txt
Trancendence_Versions/Lamma3InitialTesting/preprocessed_diary_text.txt
Trancendence_Versions/Lamma3InitialTesting/tokenized_preprocessed_diary_text.json
